:root {
	--font-sans: system-ui, 'Segoe UI', 'Roboto', 'Helvetica Neue', sans-serif;
	--font-mono: ui-monospace, monospace;

	--aubade-tab-size: 2;
	--aubade-rounding: 0.3rem;

	--aubade-accent: oklch(0.712 0.171 298);
	--aubade-overlay: oklch(0.252 0.013 298);
	--aubade-text: #dadada;
}

[data-aubade] {
	--aubade-header: oklch(0.352 0.013 298);
	--aubade-bounce: 4.5rem;
	--aubade-transition: 150ms;
	--aubade-function: cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

[data-aubade='codeblock'],
[data-aubade='codeblock'] pre,
[data-aubade-codeblock='header'] {
	width: 100%;
	position: relative;
	tab-size: var(--aubade-tab-size);
}
[data-aubade='codeblock'] {
	white-space: normal;
	margin-top: 1rem;
}
[data-aubade='codeblock'] pre {
	white-space: pre;
}
code {
	margin: 0 0.1rem;
	/* `em` to scale with wrapper */
	font-size: 0.87em;
	white-space: nowrap;
}

/* ---- <div data-aubade="pre"> ---- */

[data-aubade='codeblock'] pre {
	overflow-x: auto;
	overflow-y: hidden;
	padding: 1.8rem 1rem 1rem 1.6rem;
	border-bottom-left-radius: var(--aubade-rounding);
	border-bottom-right-radius: var(--aubade-rounding);
	background: var(--aubade-overlay);
	color: var(--aubade-text);
	font-family: var(--font-mono);
	font-variation-settings: var(--font-mono-variation);
}
[data-aubade='codeblock'] pre code {
	top: 0;
	padding: 0;
	margin: 0;
	border-radius: 0;
	white-space: pre;
}
[data-aubade='codeblock'] pre,
[data-aubade='codeblock'] pre code {
	line-height: 1.5;
	font-size: 0.85rem;
}

[data-aubade='codeblock'] pre.numbered {
	padding-left: 0.6rem;
}
[data-aubade='codeblock'] pre.numbered code::before {
	content: attr(data-line);
	max-width: 2rem;
	width: 100%;
	display: inline-flex;
	justify-content: flex-end;
	margin-right: 0.6rem;
	color: gray;
	letter-spacing: normal;
}

/* header check */
[data-aubade-codeblock='header'][data-file='empty'] + [data-aubade='codeblock'] pre {
	padding-top: 2rem;
}
[data-aubade-codeblock='header'][data-language='']:not([data-file='empty'])
	+ [data-aubade='codeblock']
	pre {
	padding-top: 1rem;
}
[data-aubade-codeblock='header'][data-file='empty'] + [data-aubade='codeblock'] pre {
	border-top-right-radius: var(--aubade-rounding);
	border-top-left-radius: var(--aubade-rounding);
}

/* ---- <header data-aubade="header"> ---- */

[data-aubade-codeblock='header'] {
	padding: 0.5rem 1rem;
	margin: 0;
	border-top-right-radius: var(--aubade-rounding);
	border-top-left-radius: var(--aubade-rounding);
	background-color: var(--aubade-header);
	color: var(--aubade-header-light);
	font-weight: 300;
	font-family: var(--font-mono);
	font-size: clamp(0.8rem, 2vw, 0.95rem);
	font-variation-settings: var(--font-mono-variation);
}
[data-aubade-codeblock='header'][data-file='empty'] {
	padding: 0;
	background: transparent;
}
[data-aubade-codeblock='header'][data-file='empty']::after {
	top: 0;
	border-top-right-radius: var(--aubade-rounding);
}
[data-aubade-codeblock='header']::after,
[data-aubade-codeblock='header']::before {
	font-family: var(--font-sans);
	font-size: 0.75rem;
}
[data-aubade-codeblock='header'] > span {
	overflow: hidden;
	width: 100%;
	display: inline-flex;
}
/* language coloured line */
[data-aubade-codeblock='header']::before {
	content: '';
	z-index: 1;
	height: 0.4rem;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;

	transition: var(--aubade-transition);
	transition-timing-function: var(--aubade-function);
}
[data-aubade-codeblock='header'][data-file='empty']::before {
	height: 0.6rem;
	top: 0;
	border-top-left-radius: var(--aubade-rounding);
	border-top-right-radius: var(--aubade-rounding);
}

[data-aubade='codeblock']:focus-within > [data-aubade-codeblock='header']::before,
[data-aubade='codeblock']:hover > [data-aubade-codeblock='header']::before {
	right: var(--aubade-bounce);
	transition: var(--aubade-transition);
}
[data-aubade='codeblock']:focus-within
	> [data-aubade-codeblock='header'][data-file='empty'][data-language='']::before,
[data-aubade='codeblock']:hover
	> [data-aubade-codeblock='header'][data-file='empty'][data-language='']::before {
	right: 0;
}

/* ---- data-language ---- */

[data-aubade-codeblock='header'] {
	--aubade-header-dark: oklch(0.212 0.007 298);
	--aubade-header-light: oklch(0.942 0.007 298);
}

[data-aubade-codeblock='header']::after {
	z-index: 1;
	position: absolute;
	top: 100%;
	right: 0;
	padding: 0.5rem 0.7rem 0.4rem;
	font-weight: 500;
	text-indent: 0.2rem;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	border-bottom-left-radius: 2px;
	transition: var(--aubade-transition);
	transition-timing-function: var(--aubade-function);
}
[data-aubade-codeblock='header'][data-language]::after {
	content: attr(data-language);
}
[data-aubade='codeblock']:focus-within > [data-aubade-codeblock='header']::after,
[data-aubade='codeblock']:hover > [data-aubade-codeblock='header']::after {
	right: var(--aubade-bounce);
	border-bottom-right-radius: var(--aubade-rounding);
	border-bottom-left-radius: var(--aubade-rounding);
	transition: var(--aubade-transition);
}
[data-aubade-codeblock='header'][data-language='']:not([data-file='empty'])::after,
[data-aubade-codeblock='header'][data-language='']:not([data-file='empty'])::before {
	content: none;
}
[data-aubade-codeblock='header'][data-language='']::before {
	background: var(--aubade-header);
}

/* Language Styles */
[data-aubade-codeblock='header'][data-language='bash']::after,
[data-aubade-codeblock='header'][data-language='bash']::before {
	background: #363377;
	color: #a2a0d6;
}
[data-aubade-codeblock='header'][data-language='css']::after,
[data-aubade-codeblock='header'][data-language='css']::before {
	background: #264de4;
	color: var(--aubade-header-light);
}
[data-aubade-codeblock='header'][data-language='htaccess']::after,
[data-aubade-codeblock='header'][data-language='htaccess']::before {
	background: #8bc34a;
	color: var(--aubade-header-dark);
}
[data-aubade-codeblock='header'][data-language='html']::after,
[data-aubade-codeblock='header'][data-language='html']::before {
	background: #e34f26;
	color: var(--aubade-header-light);
}
[data-aubade-codeblock='header'][data-language='java']::after,
[data-aubade-codeblock='header'][data-language='java']::before {
	background: #f89820;
	color: var(--aubade-header-light);
}
[data-aubade-codeblock='header'][data-language='javascript']::after,
[data-aubade-codeblock='header'][data-language='javascript']::before,
[data-aubade-codeblock='header'][data-language='json']::after,
[data-aubade-codeblock='header'][data-language='json']::before,
[data-aubade-codeblock='header'][data-language='js']::after,
[data-aubade-codeblock='header'][data-language='js']::before {
	background: #f0db4f;
	color: var(--aubade-header-dark);
}
[data-aubade-codeblock='header'][data-language='markdown']::after,
[data-aubade-codeblock='header'][data-language='markdown']::before,
[data-aubade-codeblock='header'][data-language='md']::after,
[data-aubade-codeblock='header'][data-language='md']::before {
	background: #083fa1;
	color: var(--aubade-header-light);
}
[data-aubade-codeblock='header'][data-language='python']::after,
[data-aubade-codeblock='header'][data-language='python']::before {
	background: #dddddd;
	color: var(--aubade-header-dark);
}
[data-aubade-codeblock='header'][data-language='shell']::after,
[data-aubade-codeblock='header'][data-language='shell']::before {
	background: #f3e2bb;
	color: #c09022;
}
[data-aubade-codeblock='header'][data-language='svelte']::after,
[data-aubade-codeblock='header'][data-language='svelte']::before {
	background: #ff3e00;
	color: var(--aubade-header-light);
}
[data-aubade-codeblock='header'][data-language='terminal']::after,
[data-aubade-codeblock='header'][data-language='terminal']::before {
	background: #dddddd;
	color: var(--aubade-header-dark);
}
[data-aubade-codeblock='header'][data-language='typescript']::after,
[data-aubade-codeblock='header'][data-language='typescript']::before,
[data-aubade-codeblock='header'][data-language='ts']::after,
[data-aubade-codeblock='header'][data-language='ts']::before {
	background: #3178c6;
	color: var(--aubade-header-light);
}
[data-aubade-codeblock='header'][data-language='yaml']::after,
[data-aubade-codeblock='header'][data-language='yaml']::before {
	background: #000000;
	color: var(--aubade-header-light);
}

/* ---- <div data-aubade="toolbar"> ---- */

[data-aubade-codeblock='toolbar'] {
	z-index: 1;
	opacity: 0;
	position: absolute;
	top: 0;
	right: 0.5rem;
	display: grid;
	gap: 0.325rem;
	grid-auto-flow: column;
	transition: var(--aubade-transition);
	transform: translateY(-50%);
}

[data-aubade-codeblock='header'][data-file='empty'] [data-aubade-codeblock='toolbar'] {
	transform: translateY(50%);
}
[data-aubade-codeblock='header'][data-file='empty']:not([data-language=''])
	[data-aubade-codeblock='toolbar'] {
	transform: translateY(10%);
}
[data-aubade-codeblock='header']:not([data-language='']):not([data-file='empty'])
	[data-aubade-codeblock='toolbar'] {
	top: 100%;
	transform: translateY(10%);
}

[data-aubade='codeblock']:focus-within [data-aubade-codeblock='toolbar'],
[data-aubade='codeblock']:hover [data-aubade-codeblock='toolbar'] {
	opacity: 1;
}

[data-aubade-codeblock='toolbar'] > [data-aubade-toolbar] {
	--aubade-overlay: oklch(0.412 0.017 298);

	cursor: pointer;
	width: 1.5rem;
	height: 1.5rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.25rem;
	border-radius: 50%;
	color: var(--aubade-accent);
	text-align: center;
	font-size: 0.7rem;
	background-color: var(--aubade-overlay);
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
}

[data-aubade-toolbar]:focus {
	outline: 1px solid rgba(255, 255, 255, 0.4);
}
[data-aubade-toolbar]::after {
	content: attr(data-aubade-tooltip);
	user-select: none;
	position: absolute;
	bottom: 2rem;
	display: none;
	padding: 0.3rem 0.6rem;
	border-radius: var(--aubade-rounding);
	background: var(--aubade-overlay);
	color: var(--aubade-header-light);
	transition: var(--aubade-transition);
}
[data-aubade-toolbar]::before {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	display: none;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent;
	border-top-color: var(--aubade-overlay);
	transform: translateY(-100%);
}
[data-aubade-toolbar]:focus::after,
[data-aubade-toolbar]:focus::before,
[data-aubade-toolbar]:hover::after,
[data-aubade-toolbar]:hover::before {
	display: inline-flex;
}

/* toolbar icons */
[data-aubade-toolbar='copy'] {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"><rect x="40" y="72" width="144" height="144"/><polyline points="72 40 216 40 216 184"/></svg>');
}
[data-aubade-toolbar='list'] {
	background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 256" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="12"><line x1="104" y1="128" x2="216" y2="128"/><line x1="104" y1="64" x2="216" y2="64"/><line x1="104" y1="192" x2="216" y2="192"/><polyline points="56 104 56 40 40 48"/><path d="M72,208H40l28.68-38.37a15.69,15.69,0,0,0-3.24-22.41,16.78,16.78,0,0,0-23.06,3.15,15.85,15.85,0,0,0-2.38,4.3"/></svg>');
}
